# NEXTAUTH_URL=http://localhost:3000 -- for local development. In production, this should be the URL of your deployed app.
NEXTAUTH_URL=http://localhost:32700

# NEXTAUTH_SECRET=abcdefghijklmnopqrstuvwxyz123456
# You can generate a secret by running `npx nextauth secret` in your terminal.
NEXTAUTH_SECRET=TzsM1+zYK0h3p+eKiCeqLzY0PewLVc+lbBYOYL9tUkQ=

# JWT_SECRET=abcdefghijklmnopqrstuvwxyz123456
# You can generate a secret by running `npx nextauth jwt-secret` in your terminal.
JWT_SECRET=ym7ZMP3UOuatyTJTpuPxx7lREzYbjgW+qqU3w6N8zCQ=

# Leave this as-is for local development. In production, set this to 'production' (without the quotes)
NODE_ENV=development
